.tab-pane textarea {
    width: 100%;
}
input#nuevoDescuento {
    width: 80px;
    font-size: 12px;
    height: 30px;
    margin-left: 5px;
}
input#nuevoPrecio {
    width: 80px;
    height: 30px;
    margin-left: 5px;
}
textarea#nuevaDescripcion {
    width: 100%;
}
input#nuevoTitulo {
    width: 100%;
}
.panel-body input {
    width: 100%;
}
